@layer reset, init, typography, hamburger, design;

@import url(normalize.css) layer(reset);
@import url(typography.css) layer(typography);
@import url(hamburger.css) layer(hamburger);

@layer init{

  :root {
    --primary: #F5821F;
    --light: #FBFCFF;
    --dark: #231F20;
    --gray: #8F8E8F;
    --main-gap: 4rem;
    background-color: var(--light);

  }
}

@layer design{

    body{
    position: relative;
    display: flex;;
    flex-direction: column;
    min-height: 60vw;
    }
    .logo img{
      height: 40px;
    }

    .img--responsive{
      width: 100%;
      height: auto;
    }


    .btn{
      display: inline-block;
      transition: background-color 0.3s ease;
      position: relative;
      overflow: hidden;
    }

    .btn--control{
      padding: .5rem 1rem;
      color: black;
      border: #231F20 2px solid;
      border-radius: 12px;
    }
    .btn--control:hover .btn__fill{
      display: block;


    }
    .btn__fill{
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .btn--primary{
      padding: .75rem 1.5rem;
      background-color: var(--primary);
    }
    .primary--light:hover{
      background-color: var(--light);
      color: black;
    }



    .sign-in__text{
      display: none;
    }

    /*header*/
    .header--index{
      position: relative;
      height: 70vh;
      overflow: hidden;
      color: white;
    }
    .header--index .hamburger-row{
      background-color: #231F20BF;
    }
    .header--index .hamburger-row.active{
      background-color: var(--dark);
    }
    .header__bg{
      height: 70vh;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
    }

    .header--index h1 , .header--index p{
      position: absolute;
      left: 16px;
    }
    .header--index h1{
      top: 35%;
    }
    .header--index p{
      top: 65%;
    }
    .timer__date{
      color: var(--primary);
      width: 64px;
    }
    .header__container{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--dark);
    }
    .header__info{

      padding: 1.5rem 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
    .header__timer{
      display: flex;
      gap: 1rem;
    }
    .timer__countdown{
      display: flex;
      gap: .5rem;
      align-items: center;
    }
    .countdown__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(255, 255, 255, 0.25);
      height: 52px;
      width: 52px;
    }
    .countdown__item--num{
      color: white ;
      font-weight: 300;
      font-size: 1.5rem;
    }
    /*footer*/
    .page__footer{
      border-top: var(--dark) 2px solid;
    }
    .page__footer > div{
      padding: 2rem;
    }
    .page__footer > .footer__copyright{
      padding: .25rem 2rem;
    }

    .footer__sponsors{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      gap: 1rem;
    }
    .sponsors__logo{
      width: 80px;
    }
    .triangle{
      position: absolute;
      bottom: -1px;
    }
    .triangle--left{
      left: 0;
    }
    .triangle--right{
      right: 0;
    }
    .footer__info{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      background-color: var(--dark);
      color: var(--gray);
    }
    .footer__info > section{
      display: flex;
      flex-direction: column;
      gap: 1rem;

    }
    .info__us header{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .info__title{
      font-size: 1.25rem;
      color: white;
      font-weight: 700;
    }
    .title--primary{
      color: var(--primary);
    }
    .info__us img{
      width: 32px;
    }
    .socials{
      display: flex;
      gap: 1rem;
    }
    .social:hover .social-hover{
      fill: var(--primary);
    }
    .info__contact a{
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
    .info__contact main{
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    .position{
      color: var(--gray);
    }
    .footer__copyright{
      background-color: var(--dark);
      color: white;
      border-top: var(--gray) 1px solid;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

 

    
    /*main*/
    .main__container, .main__props{
      display: flex;
      flex-direction: column;
      gap: 4rem;
      position: relative;
      width: calc(100% - 2rem);
    }
    .main__container{
      flex: 1;
      margin: 5rem 1rem;
      align-self: center;
      max-width: 1200px;
    }
    .main__container > section{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .main__about, .date{
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
    .main__about > header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }


    .main__props header{
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    .props__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .date__time{
      text-align: center;
      font-size: 1.75rem;
    }




    .map__container{
      width: 100%;
      aspect-ratio: 4/3;
      border: var(--dark) 2px solid;
    }
    .map__container iframe{
      width: 100%;
      height: 100%;
      border: none;
    }


    .main__winners{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .main__winners header{
      margin-bottom: 2.5rem;
    }

    .winners__container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }

    .winners__podium{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

    .winners{
      display: flex;
      gap: 1rem;
      align-items: end;
      width: 80%;
    }
    .winner{
      text-align: center;
      flex: 1;
      position: relative;

    }
    .winner > p{
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-105%);
    }
    .podium{
      background-image: linear-gradient(to bottom, #8F8E8F 0%, var(--dark) 80%); 
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .podium--first{
      aspect-ratio: 1/2.5;
    }
    .podium--second{
      aspect-ratio: 1/1.75;
    }
    .podium--third{
      aspect-ratio: 1/1;
    }

    .podium__place{
      color: white;
      font-size: 1.75rem;
      font-weight: 600;
      
    }
    .results{
      display: flex;
      width: 80%;
      justify-content: center;
      background-color: var(--dark);
      padding: .5rem 0;
    }

    .winners__icon{
      position: absolute;
      bottom: 0;
      width: 80%;
    }




    .main__container > .main__info{
      flex-direction: row;
      align-items: stretch;
    }

    .info__item{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border: var(--dark) 1px solid;
      padding: .75rem .5rem;
      
    }

    .info__item p{
      color: var(--primary);
      text-align: center;
    }







    /*about*/

    .hero__content{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }
    .hero__subtitle{
      border-left: var(--primary) 4px solid;
      padding: .25rem 1.5rem;
    }
    .main__container > .about__description{
      display: grid;
      grid-gap: 4rem .75rem; 
      grid-template-columns: 1fr 1fr;
      align-items: start;
      grid-template-areas:
      "desc desc"
      "times category"
      "penalty penalty";;
    }
    .description__content, .description__penalty, .description__times, .description__categories, .time__container, .description__categories, .description__categories > ul{
      display: flex;
      flex-direction: column;
    }

    .description__content{
      grid-area: desc;
    }


    .description__content, .description__penalty, .description__categories{
      gap: 1.5rem;
    }
    .description__times{
      grid-area: times;
      gap: 4rem;
    }
    .time__container{
      gap: 1rem;
    }

    .time{
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    .description__categories{
      grid-area: category;
    }
    .description__categories > ul{
      gap: 1rem;
    }
    .category__item{
      display: flex;
      align-items: center;
    }
    .category__text > strong{
      font-size: 1.25rem;
    }

    .description__penalty{
      grid-area: penalty;
    }


    .main__container > .about__equipment{
      align-items: start;
      gap: 2rem;
    }
    .equipment__container{
      display: flex;
      gap: .75rem;
    }
    .equipment{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .75rem;
    }
    .equipment svg{
      width: 48px;
      height: 48px;
    }
    .equipment--phone{
      padding-left: .75rem;
      border-left: var(--dark) 2px solid;
    }
    .phone{
      display: flex;
      align-items: center;

    }
    .phone__text{
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }



    /*propozice*/
    .main__container > .proposition__section{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
    }
    .proposition__short{
      background-color: var(--dark);
      position: relative;
      color:white;
      padding: 0.75rem 1rem;
      display: grid;
      grid-template-areas: "date date" "must-have categories";
      grid-gap: 4rem;
    }

    .prop__triangle{
      position: absolute;
      left: -16px;
      height: 74px;
      width: calc(100% + 16px);
    }
    .triangle--top{
      transform: translateY(calc(-100% + 2px));
      top: 0;
    }
    .triangle--bottom{
      bottom: 0;
      transform: translateY(calc(100% - 2px));
    }


    .proposition__short > .props__item{
      display: grid;
      grid-template-areas: 
      "when date"
      "login date"
      ;
      grid-area: date;
    }
    .proposition__short > .props__item > .date{
      grid-area: date;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;
    }
    .proposition__short > .props__item > .date img{
      width: 100%;
    }
    .proposition__short > .props__item > header{
      display: flex;
      gap: 1rem;
      align-items: center;
    }


    .short__items{
      grid-area: must-have;
    }
    .prop__categories{
      grid-area: categories;
    }

  .main__container > .proposition__starts{
    flex-direction: row;
    justify-content: space-between;
  }
  .proposition__starts > .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .proposition__starts > .item > h2{
    text-align: center;
  }
  .primary{
    color: var(--primary);
  }
  .green{
    color: #00FF26;
    fill: #00FF26;
  }
  .red{
    color: #FF0000;
    fill: #FF0000;
  }

  .main__container > .proposition__times{
    align-items: start;
    gap: 1rem;
  }
  .proposition__times > .item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .proposition__times .item__main{
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  /*contact*/
  .contact__item{
    color: black;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border-left:var(--primary) 4px solid;
    padding-left: 1.25rem;
    transition: border-left-width 0.1s ease-in-out;
  }

  a.contact__item:hover{
    border-left-width: 16px;
    
  }
  .contact__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-area: info;
  }
  .us__container{
    display: flex;
    align-items: end;
    grid-area: us;
  }
  .us__container > a{
    flex: 1;
  }
  .main--contact{
    display: grid;
    grid-template-areas: "name""info""us";
  }
  .main--contact > h1{
    grid-area: name;
  }

  button{
    cursor: pointer;
  }
 /*sign in form*/
  .modal {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex; align-items: center; justify-content: center;
  }
  
  .modal-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--light);
    padding: 2rem 2rem 0 2rem;margin: 2rem;
    flex: 1;
    position: relative;
  }

  .modal-content label {
    position: relative;
  }
  .modal-content label input {
    width: calc(100% - 1rem);
    border: 2px solid var(--dark);
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--light);
    color: var(--dark);
  }

  .modal-content p {
    background-color: var(--light);
    position: absolute;
    transform: translateY(-50%);
    left: 14px;
    color: var(--primary);
    font-size: .85rem;
    padding: 0 .5rem;
    /*z-index: 1;*/
  }
  .modal--logout{
    padding: 2rem;
  }
  .modal--logout .signup-btn{
    position: initial;
  }
  .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    background:none;
    border: none;
  }
  .signup-btn{
    background: none;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: 2px solid var(--dark);
    font-weight: 600;
    position: absolute;
    bottom: 43px;
    right: 32px;
  }
  .signup-btn:hover{
    background-color: var(--primary);
  }
  
  .hidden {
    display: none;
  }
  .main__container > .applications__table{
    align-items: start;
    overflow-x: auto;
    width: calc(100vw - 1rem);
  }


  .team-table{
    min-width: 940px;
    border-collapse: collapse;
  }
  .team-table th, .team-table td{
    padding: .25rem 0.75rem;
    text-align: left;
    border: 2px solid var(--dark);
  }
  .team-table th{	
    color: white;
    background-color: var(--dark);
    border-color: var(--light);
  }
  .team-table td{
    font-weight: 700;
  }
  .sign-out-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--primary);
    font: inherit;
    cursor: pointer;
  }
  #sign-up-btn{
    border: none;
    color: white;
    cursor: pointer;
  }
  .applications__header{
    display: grid;
    grid-gap: 2rem;
  }
  




  .category-dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-sign{
    position: absolute;
    top: 32px;
    left: 56px;
    transform: translateY(-50%);
  }
  .selected-category {
    width: 64px;
    height: 64px;
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
  }
  .selected-category:hover {
    background-color: #dBdCd8;
  }

  .category-list {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    white-space: nowrap;
    z-index: 1;
  }

  .category-list img {
    background-color: var(--light);
    width: 64px;
    height: 64px;
    border: 1px solid var(--dark);
    cursor: pointer;
    transition: transform 0.2s;
  }
  .category-list img:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .category-list img:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .category-list img:hover {
    transform: scale(1.1);
  }

  .category-list.show {
    display: flex;
  }







    @media screen and (min-width: 1080px) {
        .hamburger-nav {
            position: absolute;
            top: 37px;
            right: 20px;
        }


      .logo img{
        height: 64px;
      }
      .hamburger-nav ul {
        display: flex;
        gap: 2em;
      }
      .hamburger-nav a {
        color: var(--light);
      }

      .header__info{
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 4rem;
        max-width: 1200px;
      }

      .sign-in{
        display: flex;
        gap: 2rem;
        align-self: center;
      }
      .sign-in__text{
        display: flex;
        color: white;
        font-weight: 500;
        align-items: center;
      }








      .footer__info, .footer__copyright{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .footer__info > section{
        width: 256px;
      }
      .page__footer > div, .page__footer > .footer__copyright{
        padding-left: 8rem;
        padding-right: 8rem;
      }
      .sponsors__logo{
        width: 128px;
      }

      .main__container{
        margin: 4rem;
      }


      /*main*/

      .main__about{
        gap: 1.5rem;
      }
      .main__about header{
        position: relative;
      }
      .main__about img{
        position: absolute;
        right: 0;
        top: 0;
        width: 182px;
        height: 182px;
      }

      .main__about p{
        margin-right: 182px;
      }
      .main__container > .main__props{
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 8rem;
      }


      .main__container > .main__winners{
        align-items: start;
      }

      .winners__container{
        flex-flow: row nowrap;
        align-items: stretch; 
        
      }

      

      /*about*/


      .main__container > .about__description{
        grid-template-columns: 1fr 141px;
        grid-gap: 8rem 4rem;
        grid-template-areas: 
        "desc category"
        "times category"
        "penalty . "
        ;
      }


      .description__times{
        flex-direction: row;
      }
      .description__penalty{
        width: 50%;
      }
      .about__equipment{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      


      /*proposition*/

      .proposition__short, .proposition__times{
        position: absolute;
      }
      .proposition__short{
        top: 164px;
        right: 64px;
      }
      .proposition__times{
        bottom: 0;
        right: -250px;
        transform: translateX(100%);

      }
      .proposition__times > .item{
        width: 100%;
        align-items: center;
      }
      .proposition__times .item__main{
        justify-content: center;
      }
      .prop__triangle{
        display: none;
      }
      .main--props{
        width: 40%;
      }
      .section--bottom{
        margin-bottom: 12rem;
      }
      .prop__container{
        max-width: 1200px;
        position: relative;
        align-self: center;
      }
    
      /*contact*/
      .main--contact{
        grid-template-columns: 8fr 2fr;
        grid-template-areas: "name us""info us";
      }
      .us__container{
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
      }
      .bottom{
        display: flex;
        align-items: end;
      }



      .team-table{ 
        min-width: none;
        width: 100%;
      }
      .main__container > .applications__table{
        width: 100%;
      }
    
      .applications__header{
        grid-template-columns: 1fr 180px;
        grid-template-areas: "title sign-up" "text text";
      }
      .applications__text{
        grid-area: text;
      }
      .applications__header>h1{
        grid-area: title;
      }
      .applications__header > #sign-up-btn{
        grid-area: sign-up;
      }

    }
}