a{
    text-decoration: none;
    color: var(--light);
}

a,p,li,span, .info__item h3, td{
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}
h1,h2,h3,.info__title, .date__time, .podium__place, .category__text > strong, th, button{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
}
h2, .header--index p{
    font-weight: 600;
    font-size: 1.75rem;  
}
h3, .category__text > strong{
    font-size: 1.25rem;
}

li a{
    color: black;
}
header a, li a, .btn{
    font-size: 1.25rem;
    font-weight: 600;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
.small{
    font-size: 0.625rem;
    color: var(--gray);
}
.timer__text p, .countdown__item--num, .sign-in__text{
    font-family: "Anton", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 95%;
}